* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* -------------------- THE NAVBAR --------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #e2e2e2;
}

.nyt-logo {
  width: 195px;
}

.left {
  color: black;
}

.left * {
  margin: 0 5px;
}

.left a {
  text-decoration: none;
}

.left a:visited {
  color: black;
}

.right button {
  margin: 0 5px;
  background-color: #567b95;
  color: #fff;
  padding: 11px 12px 8px 12px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
}

/* -------------------- Main Section --------------- */

.article-title {
  margin: 50px auto 15px auto;
  width: 600px;
}

.main-image {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.main-image img {
  width: 100%;
}

figcaption {
  font-size: 15px;
  line-height: 20px;
  margin-right: 7px;
  color: #666;
  font-family: georgia, "times new roman", times, serif;
}

figcaption span {
  font-size: 13px;
  color: #888888;
  letter-spacing: 0.13px;
}
.container {
  width: 600px;
  margin: auto;
}

.main-text {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

/* -------------------- Aside Section --------------- */

aside {
  width: 210px;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aside-link div {
  width: 250px;
  height: 100px;
}

.aside-link h3 {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  font-family: georgia, "times new roman", times, serif;
}

.aside-link img {
  width: 100%;
}

.aside-link {
  display: flex;
  text-decoration: none;
}
