* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* -------------------- THE NAVBAR --------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #e2e2e2;
}

.nyt-logo {
  width: 195px;
}

.left {
  color: black;
}

.left * {
  margin: 0 5px;
}

.left a {
  text-decoration: none;
}

.left a:visited {
  color: black;
}

.right button {
  margin: 0 5px;
  background-color: #567b95;
  color: #fff;
  padding: 11px 12px 8px 12px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
}
